@model NewsListingViewModelByType
@{
    ViewData["Title"] = Model.articleTypeDescription;
}

<h4 class="row">@ViewData["Title"]</h4>

@await Html.PartialAsync("_NewsListing", Model.News)


@if (Model.TotalArticles > Model.News.Count())
{
    @await Html.PartialAsync("_ArticlesPegination", Model)
}