@model IEnumerable<SectionListingServiceModel>

@{
    ViewData["Title"] = "Index";
}
<div class="jumbotron home-jumbotron">
    <h1 class="text-center">Welcome to The Underground Station Forum!</h1>
    <h3 class="text-center">The voice of the underground community</h3>
</div>
@if (User.IsInRole(WebConstants.ForumModeratorRole))
{
    <a href="/Forum/Sections/Create" class="btn btn-success">Add Section</a>
}

<div class="jumbotron">
    <h3>Sections</h3>
    <table class="table-bordered table-hover">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <h3>
                            <a href="@($"/Forum/Sections/Details/{item.Id}")">@item.Tittle</a>
                        </h3>
                        <h6>@item.Description</h6>
                        <h6>Themes: @(item.Themes.Count())</h6>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
