@model AllCustomersModel
@{
    ViewData["Title"] = "All Customers";
}

<h2>All Customers - ordered in @{Model.OrderDirection.ToString().ToLower()} direction.</h2>

<table class="table">
    <thead>
       <tr>
           <th>
               Name
           </th>
           <th>
               Birthday
           </th>
           <th>
               Is Young Driver
           </th>
       </tr> 
    </thead>
    <tbody>

    </tbody>
</table>

