
@{
    ViewData["Title"] = "Create";
}

<h2>Create Customer</h2>

<form method="post">
    <input name="Name" type="text" value="" id="TextBox1" />
    <input name="BirthDay" type="text" value="" id="TextBox1" />
    <input name="IsYoungDriver" type="text" value="" id="TextBox1" />
    <input type="submit"/>
</form>

