@model CustomerWithSales
@{
    ViewData["Title"] = "TotalSalesByCustomer";
}
<h2>TotalSalesByCustomer</h2>
<table class="table table-bordered table table-hover">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Bought Cars Count
            </td>
            <td>
                Total Spent Money
            </td>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Sales.Name
            </td>
            <td>
                @Model.Sales.BoughtCarsCount
            </td>
            <td>
                @Model.Sales.TotalSpendMoney
            </td>
        </tr>

    </tbody>
</table>
