@model IEnumerable<CourseListingServiceModel>
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to LEARNING SYSTEM!</h1>
<hr /><hr />
<h2>Forthcoming Courses</h2>
<hr /><hr />
@foreach (var course in Model)
{
    <h3>
        @course.Name
    </h3>
    <h4>Start Date:@($"{course.StartDate.Month}/{course.StartDate.Day}/{course.StartDate.Year}")</h4>
    <h4>End Date:@($"{course.EndDate.Month}/{course.EndDate.Day}/{course.EndDate.Year}")</h4>
    <h4>Duration: @((course.EndDate - course.StartDate).TotalDays) days</h4>
    <p>@course.Description</p>
   
    <h4>Trainer: @($"{course.Trainer.Name} ({course.Trainer.UserName})")</h4>



    @if (!User.IsInRole(WebConstants.TrainerRole) && SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-success" asp-area="" asp-controller="Courses" asp-action="Details">Details</a>
    }
    <hr />
}
